.carousel-control-prev-icon {
  background-color: rgb(255, 153, 0);
  color: white;
}
.carousel-control-next-icon {
  background-color: rgb(255, 153, 0);
  color: white;
}
.textHead {
  color: black;
  text-align: center;
}
.textContainer {
  display: flex;
  flex-direction: column;
  padding: 50px 250px;
}
.text {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 19px;
}

.nav-item:hover {
  border: 1px solid black;
  border-radius: 20px;
}

@media (max-width: 400px) {
  .textHead {
    font-size: 26px;
  }
  .textContainer {
    font-size: 10px;
    padding: 5px;
  }
}
